body { margin: 2em;
  font-family: 'Raleway', sans-serif;
  font-family: 'Playfair Display', serif;
  color:black;
  background: #e6f7ff;
    }

header  { padding: 2em;
         text-align: center;
  			background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f7/Panoramica_de_La_Monta%C3%B1a_el_Avila.JPG");
        background-size: 100%;
        background-size: height:200px; 
        background-repeat: no-repeat;
        color:white;
        height: 200px;
}

 
li {display: inline;  
    word-spacing: 30px;
    color: black;
    font-size: 23px;
    }

ul {list-style-type: none;
	color: white;
	margin: 1em;
    }

   h1 {font-size: 40px;
   	margin: 1em;
    color:  #99ccff;
  
    }

  a:link { text-decoration: none;
    color:  #99ccff;
    }

   h2 { font-size: 25px;
   	margin: 1em;
    }

    h3{ font-size: 23px;
    }

    h4 { font-size: 18px:;
    }

    h5{ font-size: 14px;
    }

    .article { width: 500px;
    height: 300px;
    }

  .photo { text-align: center;
    }

    .center { text-align: center;
    }

     @media screen and (max-width: 667px)  { 
      body  { font-size:100%; 
    }
  h1,ul,li{ font-size: 80%;
  text-align: left;
    }
    ul,li { font-size: 60%;
  text-align: left;}

    header{ padding: 0em;
      height: 100px;
      size:100%;
    }
